{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styling.css' %}"/>
    <title> Homepage </title>
</head>
<body>
    <h1>Homepage</h1>
    <div class = "home">
        <div class = "graph"> 
            <img src= "data:image/png;base64,{{ graphic|safe }}">
            
        </div>
        <div class = "graph"> 
            <div class = "inputs">
                <form action="" method="post" novalidate>
                    <!-- TODO: find out what csrf tokens are for -->
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                    </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->
    <script src="like_button.js"></script>
</body>
</html>