@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Light.ttf);
}
h1 {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
body {
    background-color: rgba(23, 59, 65, 0.957);
    font-family: Montserrat, Helvetica;
}
.home {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 5px solid rgba(23, 59, 65, 0.957);
    border-radius: 25px;
}
.container {
    display: flex;
    flex: 50.00%;
    gap: 80px;
    margin: 10px;
    margin-left: 30px;
}
.graph {
    border: 5px solid rgba(23, 59, 65, 0.957);
    border-radius: 15px 40px;
    justify-content: left;
    padding: 10px;
}
.inputs {
    margin-top: 100px;
    text-align: center;
    border: 5px solid rgba(23, 59, 65, 0.957);
    border-radius: 50px 15px 30px;
    padding: 50px;
    margin-bottom: 100px;
    background-color: rgba(23, 59, 65, 0.957);
    color:rgb(232, 243, 248);
    padding-top: 70px;
    margin-right: 10px;
}
.button {
    text-align: center;
}
.submit {
    background-color: antiquewhite;
    border-radius: 50px;
}
.submit:hover {
    background-color: rgba(23, 59, 65, 0.957);
}
